* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "custom-inter";
  src: url("./font/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Lato', sans-serif; */
  background: var(--black-color);
  height: 1500px;
  font-family: "DM Sans";
  font-family: "custom-Lato", sans-serif;
  padding: 0 40px;
}

/* reusables starts here */
img {
  height: 100%;
  width: 100%;
}

.btn {
  height: 42px;
  width: 120px;
  border-radius: 5px;
  background: var(--main-color-blue);
  border: none;
  color: var(--white-color);
}

.btn:hover {
  cursor: pointer;
}

.btn2 {
  height: 42px;
  width: 120px;
  border-radius: 5px;
  background: none;
  border: 2px solid var(--main-color-blue);
  color: var(--white-color);
}

.btn2:hover {
  cursor: pointer;
  background: var(--main-color-blue);
}

/* reusables ends here */
/* header starts here */


/* desktop starts here*/
.mobileview{
  display: none;
}

.desktop {
  transform: translateY(-58px);
  height: auto;
  width: 100%;
  border-radius: 0px;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transform: translateX(-60px);
  left: 5px;
  width: 300px;
  height: 200px;
  /* border: 2px solid white; */
  display: flex;

  /* border-radius: 0px; */
}

.desktopitem {
  /* border: 2px solid green; */
  width: 560px;
  /* margin: 0 71px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.desktopitem ul {
  /* text-decoration: none; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  padding: 3px 0;
}

.desktopitem li {
  margin: 0 40px;
  padding: 4px 8px;
  /* border: 2px solid white; */
  display: block;
}

.desktopitem li:hover {
  cursor: pointer;
  color: var(--main-color-yellow);
}


.desktopitemlink {
  color: var(--white-color);
}

.desktopitemlink:hover {
  color: var(--main-color-yellow);
}

.searchdownload {
  /* border: 2px solid orange; */
  padding: 20px 0 10px 0;
  width: 400px;
  /* height: 90px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.input-group{
  width: 65%;
  border: 2px solid white;
  height: 42px;
  /* width: 100%; */
  background: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.searchtext {
  width: 80%;
  height: 100%;
  border: none;
  background: none;
  /* border: none; */
  padding: 0 5px;
}



.searchtext input:focus {
  border: 2px solid white;
  background: none;
  text-decoration: none;
}

.searchicon {
  border-left: 2px solid var(--white-color);
  width: 20%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.searchicon:hover {
  cursor: pointer;
}


.download:hover {
  cursor: pointer;
}

/* desktop ends here */

/* header ends here */

/* hero section starts here */
.hero {
  /* border: 2px solid white; */
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h4 {
  color: var(--white-color);
  text-align: center;
  font-size: 40px;
  font-weight: 450;
  line-height: 47px;
  letter-spacing: 0.04em;
  text-align: center;
}

.hero p {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 17px;
}

.hero .btn {
  margin-top: 35px;
}

.heroimg {
  /* border: 2px solid white; */
  margin-top: 48px;
  height: auto;
  width: 100%;
  border-radius: 0px;
}

.heroimgmob{
  display: none;
}

.heroimg2{
  display: none;
  width: 150px;
  height: 150px;
  right: 0;
}
/* hero section ends here */

/* Resources section starts here */
.resources {
  /* border: 2px solid white; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.resources h4 {
  color: var(--white-color);
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-align: center;
}

.resources h5 {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0.015em;

  text-align: center;
  margin-top: 35px;
}

.resources h6 {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 30px 0;
}

.resourcepairs {
  /* border: 2px solid orange; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.resourcepairs-info {
  background: rgba(35, 35, 80, 0.39);
  border-left: 5px solid var(--main-color-yellow);
  height: auto;
  width: 300px;
  padding: 40px 15px;
  border-radius: 0 5px 5px 0;
}

.resourcepairs-info h3 {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.resourcepairs-info p {
  font-size: 10px;
  font-weight: 150;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 17px;
}

/* Resources section ends here */

/* Testimonies section starts here */
.ts {
  /* border: 2px solid white; */
  padding: 30px 0;
}

.ts-first {
  /* border: 2px solid orange; */
  padding: 0 40px 20px 40px;
}

.ts-first h6 {
  font-size: 22px;
  font-weight: 150;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color-yellow);
}

.ts-first p {
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--white-color);
}

/* slider starts here */

.ts-slider-container {
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: relative; */
  border-radius: 5px;
  margin-top: 20px;
  

}

.footer-second-img-slider {
  /* border: 2px solid tomato; */

  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  /* width: 0 auto; */
  overflow: hidden;
  width: auto;
  padding: 0 80px;
  /* height: 450px; */
  /* flex-wrap: wrap; */
}

.footer-second-img-slider img {
  margin-right: 10px;
}

.mySlides {
  display: none;
}

.imgts-img {
  /* border: 2px solid white; */
  height: auto;
  width: 40%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
}


.imgts-statement {
  /* border: 2px solid blue; */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: rgba(6, 9, 45, 0.74); */
  padding: 20px;
  border-radius: 5px;
}

.imgts-statement p {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 150;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.imgts-statement h6{
    color: var(--main-color-yellow);
font-size: 17px;
font-weight: 200;
line-height: 30px;
letter-spacing: 0em;
text-align: right;
margin-top: 10px;

}

.nextprev {
  /* border: 2px solid blue; */
  padding: 10px;
  display: flex;
}
/* next & prev buttons starts here*/
.prev,
.next {
  /* border: 2px solid blue; */
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.6s ease;
  user-select: none;
}

/* postion the "next button" to the right */
.dropdownarrow1 {
  height: 40px;
  width: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgba(160, 96, 86, 1); */
  /* margin-left: 50px; */
  color: var(--main-color-yellow);
}

.next {
  right: 0;
  border-radius: 50%;
}

.prev {
  left: 0px;
  /* right: 70px; */
  border-radius: 50%;
}

.prev:hover,
.next:hover {
  background-color: var(--white-color);
  font-size: 25px;
}

/* fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* slider ends here */

/* Testimonies section ends here */

/* Performance section starts here */
.pm {
  /* border: 2px solid white; */
  background: rgba(35, 35, 80, 0.39);
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 30px;
  margin: 40px 0 20px 0;
}

.ps {
  width: 60%;
  /* border: 2px solid orange; */
}

.ps h3 {
  font-size: 35px;
  font-weight: 250;
  line-height: 44px;
  letter-spacing: 0.015em;
  color: var(--white-color);
}

.psapps {
  /* border: 2px solid white; */
  padding: 20px 10px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.appstores {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.appstores:hover {
  cursor: pointer;
}

.appicon {
  /* border: 2px solid white; */
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.appinfo {
  /* border: 2px solid red; */
  padding: 0 10px;
}

.appinfo p {
  font-size: 12px;
  font-weight: 100;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white-color);
}
.appinfo h6 {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white-color);
}

.pmm {
  /* transform: translateX(-40px); */
  /* z-index: 10; */
  /* height: 80%; */
  width: 50%;
  /* border: 2px solid green; */
}

/* Performance section ends here */

/* Journey section starts here */
.journey {
  /* border: 2px solid white; */
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 80px 0;
}

.journey h3 {
  font-size: 22px;
  font-weight: 200;
  line-height: 34px;
  letter-spacing: 0em;
  color: var(--white-color);
  text-align: center;
}

.journey h6 {
  font-size: 12px;
  font-weight: 150;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 5px 0 20px 0;
  text-align: center;
}

.journey .btn2 {
  margin-left: 5px;
}

/* Journey section ends here */

/* footer section starts here */
.footer_final {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.logo2{
  display: none;
}

.ff1 {
  /* border: 2px solid white; */
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_icons-holder {
  /* border: 2px solid tomato; */
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 20px 0 24px 0; */
  /* padding: 10px; */
}

.footer-icons {
  border: 2px solid var(--white-color);
  height: 34px;
  width: 34px;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 12px; */
}

.footer-icons a {
  color: var(--white-color);
  font-size: 15px;
}

.ff1 h6 {
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white-color);
}

.ff1 h1 {
  /* font-family: Merriweather; */
  font-size: 35px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(83, 75, 66, 1);
  margin-bottom: 30px;
}

.footer_final-catalog {
  /* border: 2px solid orange; */
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.catalog {
  margin: 0 38px;
}

.catalog h6 {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: var(--white-color);
  margin-bottom: 10px;
}

.catalog p {
  font-size: 12px;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--white-color);
  margin-bottom: 8px;
}

.copyritepol {
  width: 100%;
  padding: 60px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copypol {
  display: flex;
}

.copyritepol ul {
  list-style: none;
  display: flex;
}

.copyritepol p {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--white-color);
}

.copyritepol li {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--white-color);
}

.copyritepol li:hover {
  cursor: pointer;
}
/* footer section ends here */

/* Resources section starts here */
/* Resources section ends here */
/* Resources section starts here */
/* Resources section ends here */
/* Resources section starts here */
/* Resources section ends here */
