@media screen and (max-width: 700px) {

    body {
        /* font-family: 'Lato', sans-serif; */
        height: auto;
        font-family: "DM Sans";
        font-family: "custom-Lato", sans-serif;
        padding: 0 25px;
        margin-top: -100px;
        /* transform: translateY(-100px); */
      }

  /* header starts here */
  .desktop {
    display: none;
  }

  /* mobile view starts here */
  .mobileview {
    /* border: 2px solid orange; */
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* top: -500px; */
    /* transform: translateY(-100px); */
  }



  .logo-actionbuttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
  }

  .logomob{
    width: 100%;
    height: 300px;
    transform: translateX(-67px);
    /* border: 2px solid white; */
    /* transform: translateY(-50px); */
  }

  .hamburgermenu {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
  }
  .menu {
    height: 5px;
    width: 100%;
    background: var(--white-color);
    position: relative;
  }

  .menu::before {
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    background: white;
    transform: translateY(-8px);
  }
  .menu::after {
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    background: white;
    transform: translateY(8px);
  }

  .show .menu {
    /* display: block; */
    background: transparent;
    transform: rotate(1.5turn);
  }

  .show .menu::before {
    /* display: block; */
    background: var(--white-color);
    height: 5px;
    width: 44px;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  .show .menu::after {
    /* display: block; */
    background: var(--white-color);
    height: 5px;
    width: 44px;
    transform: rotate(-45deg);
    transition: 0.5s;
  }

  .right-div {
    width: 100%;

    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
  }

  .right-div_img {
    display: none;
  }

  .right-div_image {
    display: none;
  }

  .actionbuttons {
    /* border: 2px solid white; */
    display: none;
    width: 100%;
    justify-content: center;
    transform: translateY(-10px);
    text-align: center;
    background:  rgba(35, 35, 80, 0.39);
    z-index: 3;
    margin: 0;
    padding: 0;
  }

  .actionbuttons ul {
    width: 100%;
    display: block;
    list-style: none;
    /* left: 0; */
  }

  .actionbuttons ul li {
    /* background: rgba(217, 217, 217, 1); */
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    font-size: 25px;
    padding: 5px 20px;
    color: var(--white-color);
  }

  .actionbuttons ul li:hover {
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.6s ease-in-out;
    color: white;
    background: transparent;
  }

  .smoothmenushow {
    display: block;
    /* margin-bottom: 100px; */
    /* transform: translateY(-100px); */
    transition: all 0.9s ease-in;
    -webkit-transform: translateX(0);
    transform: translateX(0%);
  }

  .logo h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: left;
    color: white;
  }

  .title-description {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-description h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
  }

  .title-description h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: white;
    margin: 18px 0;
  }

  .title-description p {
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
  }

  .dropdownarrow {
    margin: 0px;
    border-color: white;
    color: white;
    margin-bottom: 170px;
  }
  /* mobile view ends here */


  /* header ends here */

/* hero section starts here */
.hero {
    /* border: 2px solid white; */
    padding: 20px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.heroimg {
    /* border: 2px solid white; */
    margin-top: 48px;
    height: auto;
    display: flex;
    width: 110%;
    border-radius: 0px;
    /* transform: translateX(-5px); */
  }

  .heroimgdesk{
    display: none;
  }

  .heroimgmob{
    display: block;
  }

/* hero section ends here */

  /* Resource starts here */
.resources{
    margin-top: -50px;
}

.resourcepairs{
    flex-direction: column;
}

.resourcepairs-info{
    margin: 10px 0;
}
  /* Resource ends here */



  /* Testimonies starts here */
  .ts {
    padding: 0;
    /* border: 2px solid white; */
  }

  .ts-first {
    padding: 0;
    margin: 0;
  }

  .ts-slider-container {
    /* border: 2px solid tomato; */
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .footer-second-img-slider {
    height: 400px;
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .imgts-img {
    /* border: 2px solid greenyellow; */
    width: 60%;
    padding: 0;
    height: 70%;
  }

  .imgts-statement {
    /* border: 2px solid yellow; */
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .imgts-statement p {
    text-align: center;
    margin: 0;
  }

  .imgts-statement h6 {
    margin: 0;
    text-align: center;
  }

  /* Testimonies ends here */

  /* performance starts here */

  .pm {
    /* width: 100% !important; */
    height: auto;
    padding: 10px 0;
  }

  .ps {
    width: 80%;
    padding: 10px 0;
  }

  .ps h3 {
    font-size: 13px;
    line-height: 20px;
  }

  .psapps {
    width: 250px;
    /* border: 2px solid white; */
    padding: 0;
    /* width: auto; */
  }

  .appstores {
    margin: 0;
  }
  .appinfo p {
    font-size: 8px;
    line-height: 10px;
  }

  .appinfo h6 {
    font-size: 8px;
    line-height: 10px;
  }

  .pmm {
    z-index: 10;
    /* border: 2px solid white; */
    height: 100px;
    width: 50;
    margin-top: -20px;
    /* transform: translateX(-20px); */
  }
  /* performance ends here */

  /* signupform starts here */

  .inputs{
    width: 100%;
  }

  .inputnames{
    width: 95%;
  }

  .inputs button{
    width: 95%;
  }

  .signupwith{
    width: 70%;
  }

  .welcomeinputnames{
    width: 95%;
  }

  /* signupform ends here */

  /* footer section starts here */

  .footer_final {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .logo2 {
    display: flex;
    /* border: 2px solid white; */
    width: 40%;
    height: 200px;
    margin-top: -80px;
  }

  .footer_final-catalog {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .catalog {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
  }

  .catalog h6 {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
  }

  .catalog p {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
  }

  .ff1 {
    margin-top: -120px;
    /* transform: translateY(-100px); */
  }

  .copyritepol {
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

  /* footer section ends here */
}
